@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EBF3FB;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}

.signin-container {
  border: 1px solid #F6F6F6;
  background-color: #FFF;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  margin: 1.5rem;
  width: 100%;
  max-width: 300px;
  position: relative;
}
.signin-container::before,
.signin-container::after {
  content: '';
  position: absolute;
  border-radius: 15px;
  z-index: -1;
}
.signin-container::before {
  width: 90%;
  height: 120%;
  background-color: #4A4AE4aa;
  top: -10%;
  left: 20%;
}
.signin-container::after {
  background: linear-gradient(90deg, #F073C8aa 0%, #FF6A95aa 99%);
  width: 8rem;
  height: 8rem;
  left: -5%;
  bottom: -5%;
  z-index: -2;
}

.signin-container .title {
  font-weight: 600;
  margin-bottom: 1.8rem;
}

.form .field {
  margin: .8rem 0 1rem 0;
}
.form label,
.form input {
  display: block;
  width: 100%
}
.form label {
  font-size: .85rem;
}
.form input {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  padding: .5rem;
  border: 1px solid #9D9DC4;
  border-radius: 5px;
  outline: none;
  transition: box-shadow .1s ease-in;
}
.form input:focus {
  box-shadow: 0 3px 7px rgba(0, 0, 0, .1);
}

.form .btn {
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  padding: .5rem .7rem;
  border-radius: 25px;
  border: 2px solid;
  transition: box-shadow .2s ease-in;
  margin-top: 1rem;
}
.form .btn:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
}
.form .btn.submit {
  background-color: #4A4AE4;
  font-weight: 300;
  color: #FFF;
  border-color: #4A4AE4;
}
.form .btn.forgot {
  border-color: transparent;
  background-color: #EBF3FB;
}

.more {
  margin-top: 2rem;
  text-align: center;
  line-height: 1.2;
}
.more p {
  font-weight: 600;
  font-size: .9rem;
}
.more a {
  font-size: .75rem;
  color: #333;
}

@media screen and (max-width: 330px) {
  .form .btn {
    width: 100%;
    margin-top: .3rem;
  }
}